<!doctype html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title>ICR</title>

    <%include  ../common/commonLib.html%>

    <!-- 공통 js -->
    <script type="text/javascript" src="js/common.client.js"></script>
    <!-- // 공통 js -->
    <!-- 문서 조회 학습 전용 js -->
    <script type="text/javascript" src="js/admin/userManagement.js"></script>
    <!-- // 문서 조회 전용 js -->

    <style>
    </style>
</head>
<body>
    <div id="mask"></div>
    <div id="wrap">
        <!--로딩바-->
        <div id="ocrProgress">
            <div id="ocrBarBg">
                <div id="ocrBar">
                    <span>1%</span>
                </div>
            </div>
            <!-- 호출하는 ajax에 따라 로딩바 이벤트를 호출 할 때 아래 progressMsgTitle, progressMsgDetail 메시지도 수정-->
            <div id="progressMsgTitle">
                <!-- 로딩바 바로 아래 메시지 -->
            </div>
            <div id="progressMsgDetail">
                <!-- 로딩바 아래아래 메시지-->
            </div>
        </div>
        <!--로딩바-->
        <!-- skip navi -->
        <%include  ../common/header.html%>
        <!-- //skip navi -->
        <!-- Content -->
        <div id="container">
            <!-- LNB -->
            <%include  ../common/leftSideBar.html%>
            <!-- // LNB -->
            <!-- 본문영역 -->
            <div id="content">
                <h2 class="subtit subtit_st01 blind"><span>사용자관리</span></h2>
                <div class="content_title_icon_um"></div>
                <div class="um_content_title">사용자관리</div>

                <!-- 부서구분 목록  -->
                <div class="box_stsearch">
                    <!--<h3 class="tits"><span>부서구분</span></h3>-->

                    <div class="box_txt_st01 st00_sh um_select">
                        <select>
                            <option value="">글로벌사업팀</option>
                            <option value="">영업팀</option>
                            <option value="">인사팀</option>
                        </select>
                        <select>
                            <option value="">소속팀</option>
                            <option value="">사업1팀</option>
                            <option value="">사업2팀</option>
                        </select>
                        <select>
                            <option value="">소속파트</option>
                            <option value="">국내파트</option>
                            <option value="">해외파트</option>
                        </select>
                        <select>
                            <option value="">문서등록일자</option>
                            <option value="">오늘</option>
                            <option value="">어제</option>
                        </select>
                    </div>

                    <div class="btn_rt">
                        <button type="button" id="btn_search" class="button_st3">조회</button>
                    </div>
                </div>
                <!-- // 부서구분 목록 -->
                <!-- 사용자관리 목록  -->
                <div class="box_stsearch titcolor01">

                    <div class="table_style02">
                        <table>
                            <caption>사용자관리 타이틀</caption>
                            <colgroup>
                                <col style="width:5%" />
                                <col style="width:11%" />
                                <col style="width:11%" />
                                <col style="width:11%" />
                                <col style="width:7%" />
                                <col style="width:7%" />
                                <col style="width:7%" />
                                <col style="width:7%" />
                                <col style="width:12%" />
                                <col style="width:10%" />
                                <col style="width:6%" />
                                <col style="width:6%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="row">번호</th>
                                    <th scope="row">사번</th>
                                    <th scope="row">이메일</th>
                                    <th scope="row">비고</th>
                                    <th scope="row">스캔결재자</th>
                                    <th scope="row">ICR결재자</th>
                                    <th scope="row">중간결재자</th>
                                    <th scope="row">최종결재자</th>
                                    <th scope="row">관리자</th>
                                    <th scope="row">최종접속일</th>
                                    <th scope="row">OCR이용횟수</th>
                                    <th scope="row">삭제</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="mCustomScrollbar box_scroll_st5" data-mcs-axis="yx" data-mcs-theme="dark-3" style="background: #FFF; height: 585px;">
                            <table>
                                <caption>사용자관리 정보</caption>
                                <colgroup>
                                    <col style="width:5%" />
                                    <col style="width:11%" />
                                    <col style="width:11%" />
                                    <col style="width:11%" />
                                    <col style="width:7%" />
                                    <col style="width:7%" />
                                    <col style="width:7%" />
                                    <col style="width:7%" />
                                    <col style="width:12%" />
                                    <col style="width:10%" />
                                    <col style="width:6%" />
                                    <col style="width:6%" />
                                </colgroup>
                                <tbody id="tbody_user"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- // 사용자관리 목록 -->
                <!-- 사용자관리 목록  -->
                <div class="box_stsearch titcolor01 mb0 um_list">

                    <div class="box_txt_st01 st00_us um_select">
                        <dl>
                            <dd>
                                <input type="hidden" name="seqNum" id="seqNum" />
                                <input type="text" name="userId" id="userId" class="inputst_box01" maxlength="30" value="" />
                            </dd>
                        </dl>
                        <dl>
                            <dd>
                                <input type="password" name="userPw" id="userPw" class="inputst_box01" value="" placeholder="Password" />
                            </dd>
                        </dl>
                        <dl>
                            <dd>
                                <input type="text" name="email" id="email" class="inputst_box01" value="" placeholder="E-mail"/>
                            </dd>
                        </dl>
                        <dl>
                            <dd>
                                <input type="text" name="note" id="note" class="inputst_box01" value="" />
                            </dd>
                        </dl>
                        <dl>
                            <dd>
                                <select>
                                    <option value="" selected>상위결재자</option>
                                    <option>스캔결재자</option>
                                    <option>ICR결재자</option>
                                    <option>중간결재자</option>
                                    <option>최종결재자</option>
                                    <option>관리자</option>
                                </select>              
                            </dd>
                        </dl>
                    </div>

                    <div class="btn_rt">
                        <button type="button" class="button_st1" id="btn_insert">등록</button>
                        <button type="button" class="button_st1" id="btn_update" style="display:none">수정</button>
                    </div>
                </div>
                <!-- // 사용자관리 목록 -->

            </div>
            <!-- // 본문영역 -->

        </div>
    </div>
</body>
</html>