<!doctype html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title>ICR</title>

    <%include  ../common/commonLib.html%>

    <!-- 공통 js -->
    <script type="text/javascript" src="js/common.client.js"></script>
    <!-- // 공통 js -->
    <!-- 문서 조회 학습 전용 js -->
    <script type="text/javascript" src="js/user/documentCheck.js"></script>
    <!-- // 문서 조회 전용 js -->

</head>
<body>
    <div id="mask"></div>
    <div id="wrap">
        <!--로딩바-->
        <div id="ocrProgress">
            <div id="ocrBarBg">
                <div id="ocrBar">
                    <span>1%</span>
                </div>
            </div>
            <!-- 호출하는 ajax에 따라 로딩바 이벤트를 호출 할 때 아래 progressMsgTitle, progressMsgDetail 메시지도 수정-->
            <div id="progressMsgTitle">
                <!-- 로딩바 바로 아래 메시지 -->
            </div>
        </div>
        <!-- //로딩바-->
        <!-- header navi -->
        <%include  ../common/header.html%>
        <!-- //header navi -->
        <!-- Content -->
        <div id="container">
            <!-- LNB -->
            <%include  ../common/leftSideBar.html%>
            <!-- // LNB -->
            <!-- 본문영역 -->
            <div id="content">                
                <div class="content_title_icon_dc"></div>
                <div class="content_sub_title">문서 조회</div>
                <div class="clear_both"></div>
                <!-- 조회조건 목록  -->
                <div class="box_stsearch">

                    <div class="box_txt_st01 st00_sh">
                        <dl>
                            <dt>
                            </dt>
                            <dd>
                                <input type="text" name="docNum" id="docNum" class="inputst_box01" value="" />
                            </dd>
                        </dl>
                        <dl>
                            <dt></dt>
                            <dd>
                                <div class="dc_box_select">
                                    <input type="hidden" id="select_faoTeam" value="" />
                                    <select>
                                        <option value="">글로벌사업팀</option>
                                        <option value="">영업팀</option>
                                        <option value="">인사팀</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt></dt>
                            <dd>
                                <div class="dc_box_select">
                                    <input type="hidden" id="select_faoPart" value="" />
                                    <select>
                                        <option value="">소속파트</option>
                                        <option value="">A파트</option>
                                        <option value="">B파트</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt></dt>
                            <dd>
                                <div class="dc_box_select">
                                    <input type="hidden" id="select_docManager" value="" />
                                    <select>
                                        <option value="">admin</option>
                                        <option value="">user01</option>
                                        <option value="">user02</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt></dt>
                            <dd>
                                <input type="text" name="deadLineDt" id="deadLineDt" class="inputst_box01" value="" placeholder="201801" />
                            </dd>
                        </dl>

                        <dl>
                            <dt></dt>
                            <dd>
                                <div class="clearfix inputst_box01">
                                    <span class="demi">FROM</span>
                                    <span class="dset">
                                        <input type="text" class="datepicker inpType" name="searchStartDate" id="searchStartDate" readonly />
                                        <a href="#none" class="btncalendar dateclick">달력</a>
                                    </span>
                                    <span class="demi">TO</span>
                                    <span class="dset dset2">
                                        <input type="text" class="datepicker inpType" name="searchEndDate" id="searchEndDate" readonly />
                                        <a href="#none" class="btncalendar dateclick">달력</a>
                                    </span>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt></dt>
                            <dd>
                                <div class="checkbox-options">
                                    <input type="checkbox" value="P" id="st1" name="approvalState" checked /><label for="st1"><span>진행</span></label>
                                    <input type="checkbox" value="C" id="st2" name="approvalState" checked /><label for="st2"><span>완료</span></label>
                                    <input type="checkbox" value="R" id="st3" name="approvalState" checked /><label for="st3"><span>반려</span></label>
                                </div>
                            </dd>
                        </dl>
                    </div>

                    <div class="btn_rt">
                        <button type="button" id="btn_search" class="button_st3">조회</button>
                    </div>
                </div>
                <!-- // 조회조건 목록 -->


                <div class="box_content st_stsh">
                    <!-- 기본결재리스트 영역 -->
                    <div id="div_base" class="box_st03 box_st031 box_content_bg">
                        <h3 class="tits"><span id="span_document">결재리스트(기본)</span></h3>

                        <div class="table_style02 table_K01">
                            <div class="mCustomScrollbar box_scroll_st3" data-mcs-axis="yx" data-mcs-theme="dark-3">
                                <table>
                                    <caption>결재리스트(기본) 타이틀 정보</caption>
                                    <colgroup>
                                        <col style="width:50px" />
                                        <col style="width:140px" />
                                        <col style="width:60px" />
                                        <col style="width:80px" />
                                        <col style="width:90px" />
                                        <col style="width:90px" />
                                        <col style="width:189px" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="listCheckAll" name="listCheckAll" /></div></th>
                                            <th scope="row">문서번호</th>
                                            <th scope="row">페이지수</th>
                                            <th scope="row">마감년월</th>
                                            <th scope="row">결제상신자</th>
                                            <th scope="row">문서담당자</th>
                                            <th scope="row">메모</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <div class="table_style02 table_K02">
                            <div class="mCustomScrollbar box_scroll_st3" data-mcs-axis="yx" data-mcs-theme="dark-3">
                                <table class="">
                                    <caption>결재리스트(기본) 정보</caption>
                                    <colgroup>
                                        <col style="width:50px" />
                                        <col style="width:140px" />
                                        <col style="width:60px" />
                                        <col style="width:80px" />
                                        <col style="width:90px" />
                                        <col style="width:90px" />
                                        <col style="width:189px" />
                                    </colgroup>
                                    <tbody id="tbody_baseList"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- 버튼 영역 -->
                        <div class="fr mt10">
                            <button type="button" id="btn_baseList_return" class="button_st2">반려</button>
                            <button type="button" id="btn_baseList_forward" class="button_st2">전달</button>
                            <button type="button" id="btn_baseList_approval" class="button_st1">승인</button>
                        </div>
                        <!-- // 버튼 영역 -->
                    </div>
                    <!-- // 기본결재리스트 영역 -->
                    <!--  상세결재리스트 영역 -->
                    <div id="div_dtl" class="box_st03 box_st031 box_content_bg">
                        <h3 class="tits"><span id="span_document_dtl">결재리스트(상세)</span></h3>


                        <table class="myApproval_tblBackground tblBackground" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="table_style02">
                                        <div class="myApproval_divHeadScroll divHeadScroll">
                                            <table class="myApproval_tblHead tblHead" border="0">
                                                <caption>결재리스트(상세) 타이틀 정보</caption>
                                                <colgroup>
                                                    <col style="width:150px" />
                                                    <col style="width:180px" />
                                                    <col style="width:180px" />
                                                    <col style="width:120px" />
                                                    <col style="width:120px" />
                                                    <col style="width:120px" />
                                                    <col style="width:120px" />
                                                    <col style="width:17px" />
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th scope="row">페이지번호(from-to)</th>
                                                        <th scope="row">계약번호</th>
                                                        <th scope="row">계약명</th>
                                                        <th scope="row">UY</th>
                                                        <th scope="row">화페코드</th>
                                                        <th scope="row">NET BALANCE</th>
                                                        <th scope="row">ENTRY NO</th>
                                                        <th></th>
                                                        <!--<th scope="row">IBNR</th>-->
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="myApproval_divBodyScroll divBodyScroll">
                                            <table class="myApproval_tblBody tblBody" border="0">
                                                <colgroup>
                                                    <col style="width:150px" />
                                                    <col style="width:180px" />
                                                    <col style="width:180px" />
                                                    <col style="width:120px" />
                                                    <col style="width:120px" />
                                                    <col style="width:120px" />
                                                    <col style="width:120px" />
                                                </colgroup>
                                                <tbody id="tbody_dtlList"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <!-- // 상세결재리스트 영역 -->

                </div>

                <!-- 양식이미지 -->
                <div id="div_image" class="box_content box_content_bg st_stsh st_last dcmtChkImg">
                    <h3 class="tits"><span>양식이미지</span></h3>

                    <div id="" class="imgtmb_b mCustomScrollbar" data-mcs-axis="yx" data-mcs-theme="dark-3">
                        <!--img src="publish/image/sample01.jpg" alt="샘플이미지" />-->
                    </div>

                    <div class="box_imgtmb">
                        <div id="touchSlider">
                            <ul id="ul_image">
                                <!--
                    <li class="on">
                        <div class="box_img"><i><img src="publish/image/sample01.jpg" title="샘플이미지"></i></div>
                        <span>Filename_Filename_0001.jpg</span>
                    </li>
                    -->
                            </ul>
                        </div>
                        <div id="count" class="count"><!--<span>1</span> / 1--></div>
                    </div>
                </div>
                <!-- // 양식이미지 -->

            </div>
            <!-- // 본문영역 -->

        </div>
        <!-- // Content -->
    </div>
</body>
</html>