<!doctype html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title>ICR</title>

    <%include  ../common/commonLib.html%>

    <!-- 공통 js -->
    <script type="text/javascript" src="js/common.client.js"></script>
    <!-- // 공통 js -->
    <!-- 문서 조회 학습 전용 js -->
    <script type="text/javascript" src="js/user/invoiceProcessingStatus.js"></script>
    <!-- // 문서 조회 전용 js -->

    <script type="text/javascript" src="/publish/js/chart/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="/publish/js/chart/utils.js"></script>

    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <div id="ocrProgress">
            <div id="progressMsgTitle"></div>
            <div id="ocrBar"></div>
        </div>
        <!-- skip navi -->
        <%include  ../common/header.html%>
        <!-- //skip navi -->
        <!-- Content -->
        <div id="container">
            <!-- LNB -->
            <%include  ../common/leftSideBar.html%>
            <!-- // LNB -->
            <!-- 본문영역 -->
            <div id="content">
                <div class="ips_content_title">계산서 처리 현황</div>

                <div class="ips_content_sub">
                    <div class="ips_content_sub_top">
                        <div class="ips_line_graph">
                            <div class="ips_top_comment">
                                <span>일반처리건수</span>
                                <p>업데이트 시간 : <span>2018.10.18 00:00:00</span></p>
                            </div>
                            <div class="ips_line_convas">
                                <canvas id="line"></canvas>
                            </div>                         
                        </div>
                        <div class="ips_tot_document_count">
                            <div class="ips_top_comment">
                            </div>
                            <div class="ips_box_document" style=" text-align: center; align-content: center;">
                                <div style="padding-top: 50px;">
                                    <span style="font-size: 35px;">15</span><br/><br/>
                                    <span style="font-size: 25px;">대기중인 문서</span>
                                </div>
                            </div>
                            <div class="ips_box_last ips_box_document" style=" text-align: center; align-content: center;">
                                <div style="padding-top: 50px;">
                                    <span style="font-size: 35px;">70</span><br/><br/>
                                    <span style="font-size: 25px;">완료된 문서</span>
                                </div>
                            </div>
                        </div>
                        <div class="ips_date">
                            <div class="ips_top_comment">
                                <span>일반처리건수</span>
                            </div>
                            <div class="ips_data_count">

                            </div>
                        </div>
                    </div>
                    <div class="ips_content_sub_bottom">
                        <div class="ips_user_status">

                        </div>
                        <div class="ips_pie_graph">

                        </div>
                        <div class="ips_bar_graph">

                        </div>
                    </div>
                </div>
            <!-- // Content -->

        </div>
    </div>
</body>
</html>