/* 이미지 보기 팝업 */
.w600 { width: 600px; }
.pop_close_btn { float:right; background-color: white; font-size: 25px; font-weight:500; }
#viewImage { width:  inherit; height: 800px; }


.box_table_st04 > dl > dt input {
    background: #eaeaea;
}

.box_table_st04 > dl > dt {
    border-bottom: 1px solid #b6b6b6;
}

.box_table_st04 > dl > dd {
    border-bottom: 1px solid #b6b6b6 !important;
}

.box_table_st04 > dl > .columnSelect {
    border-bottom: 1px solid #b6b6b6 !important;
}

.layer2_tits_span {
    font: 400 13.3333px Arial;
    font-family: 'notokr-medium', sans-serif;
    font-size: 18px;
    margin-left: 20px;
}

h3.layer2_tits {
    padding: 14px 0;
    font-size: 14px;
    font-family: 'notokr-medium', sans-serif;
    background-color: #fff;
    border-radius: 10px;
}

.content_title_icon_bl {
    width: 40px;
    height: 30px;
    float: left;
    background-position: -140px -472px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.bl_content_title {
    font-weight: bold;
    font-family: 'NanumGothicR';
    font-size: 20px;
    margin: 4px 0 10px 5px;
    color: #4C5059;
    position: absolute;
    top: 20px;
    left: 60px;
}

#multiUploadForm {
    position: absolute;
    top: 50px;
    left: 11px;
    min-width: 1419px;
}

.tep_tit {
    position: absolute;
    top: 120px;
    left: 20px;
    display: table;
    width: calc(100% - 22px);
    margin-bottom: -1px;
    z-index: 1
}

.tep_content .tep_st {
    padding: 1%;
}

.tep_content {
    position: absolute;
    top: 170px;
    left: 20px;
    width: calc(99% - 22px);
    height: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(120,120,120,.1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(120,120,120,.1);
    box-shadow: 0px 0px 8px 1px rgba(120,120,120,.1);
    z-index: 0;
}

.batch_tblBackground {
    width: 100% !important;
    table-layout: fixed;
}

/* popup */
.poplayer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 937px;
    z-index: 200;
}

.pop_layer {    
    margin-top: -24% !important;
    margin-left: -47.5% !important;
    height: auto !important;
}

.pop_layer_K01 {
    margin-left: -42% !important;
    margin-top: -23% !important;
    width: 88%;
    height: 97%;
    margin-top: -460px;
}

.w1700 {
    width: 100% !important;
}

.layer3_pop_footer {
    width: 97%;
    height: auto;
    background: #eaeaea;
    padding: 0 13px;
}

#div_view_image {
    overflow-y: scroll;
    width: 100%;
    margin-bottom: 10px;
}

.pop3_content2 {
    height: 15px;
}

.batch_pop2 {
    z-index: 2100;
}

#layer2 .box_scroll_st99 {
    width: 95% !important;
}

.box_content_R .tits {
    width: 39%;
    min-width: 250px;
}

#docCompareBtn {
    margin-left : 0;
}

#uiTrainBtn .train_icon_03 {
    margin: 0 0 0 5px;
}

#uiDocTopTypeDiv {
    width:25%;
}
#uiDocTopTypeDiv .stb-select-container {
    width: 84%;
}

#uiDocTopTypeDiv .selected {
    max-width: max-content;
}

#uiDocTopTypeDiv .stb-select {
    max-width: max-content;
    padding: 0 5%;
}

#content-6 > .mainTable > tbody > tr:first-child > td:first-child {
    width: 29% !important;
}

#content-6 > .mainTable > tbody > tr:first-child > td:last-child {
    width: 68% !important;
}

#left_header {
    width: 98%;
}
#left_contents {
    width: 98%;
}

#dd_indent {
    width: 5% !important;
}

#right_contents {
    height: 490px !important;
}

#left_contents {
    height: 490px !important;
}