table .stb-select { width:-webkit-calc(100% - 10px) !important; border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important; padding-left: 10px !important; top: 18px !important;}
table .stb-select-container{ width: 100%; background: #FFF; padding: 3px 0 8px 10px; border-radius:14px !important;}
table .newTr .stb-select-container{ width: 96%; background: #FFF; padding: 3px 0 8px 10px; border-radius:14px !important; border:solid 1px #d5d5d5;}::after{color: #666 !important;}
table .newTr .stb-select { width:-webkit-calc(100% - 10px) !important; border-bottom-left-radius: 10px !important; border-left:solid 1px #d5d5d5;border-right:solid 1px #d5d5d5; border-bottom:solid 1px #d5d5d5;border-bottom-right-radius: 10px !important; padding-left: 10px !important; top: 18px !important;}
table .newTr .selected {color: #666 !important; }
::-webkit-scrollbar { 
    display: none !important; 
  }

.fr{float:right}

.docMenu1 {
    height:60px;
    position:relative;
    top:20px
}

.newDocEdit1 {
    position:relative;
    bottom:25px
}

.docTable1 {
    /*position:absolute;*/
    position: relative;
    left: 20px;
    width: calc(100% - 40px);
    margin: 30px 0;
}

.docTable2 {
    background:#fff;
    overflow:auto;
}

.box_stsearch1 {
    position: relative;
    left: 20px;
    /*top: 25px;*/
    width: calc(100% - 40px);
}
.box_stsearch1_box1 {
    height:60px;
    display:inline-block;
    width:80%;
}
.box_stsearch1_box2 {
    height: 60px;
    display: inline-block;
    float: right;
    width:20%
}
