table .stb-select { width:-webkit-calc(100% - 10px) !important; border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important; padding-left: 10px !important; top: 18px !important;}
table .stb-select-container{ width: 100%; background: #FFF; padding: 3px 0 8px 10px; border-radius:14px !important;}
table .newTr .stb-select-container{ width: 96%; background: #FFF; padding: 3px 0 8px 10px; border-radius:14px !important; border:solid 1px #d5d5d5;}::after{color: #666 !important;}
table .newTr .stb-select { width:-webkit-calc(100% - 10px) !important; border-bottom-left-radius: 10px !important; border-left:solid 1px #d5d5d5;border-right:solid 1px #d5d5d5; border-bottom:solid 1px #d5d5d5;border-bottom-right-radius: 10px !important; padding-left: 10px !important; top: 18px !important;}
table .newTr .selected {color: #666 !important; }
::-webkit-scrollbar { 
    display: none !important; 
  }