.singleTableDiv::-webkit-scrollbar { 
    display: none !important; 
}

.docUpload_mainImage {
    height: 980px;
}

#redZoomNemo {
    top: 107px !important;
}
.box_imgtmb {
    height: 102px !important;
}
.touchSliderDiv {
    height: 100% !important;
    width: 100% !important;
}


.gradationIpt {
    background: linear-gradient(45deg,
    gray 25%, white 0, white 50%,
    gray 0, gray 75%, white 0);
    -webkit-background-size:30px 30px;
    background-size:30px 30px;
}

.singleRecordLabelIpt {
    height: 30px !important; 
    color: white !important; 
    border-radius: 15px !important;
    border: solid 1px #EA7169 !important;
    background-color: #EA7169 !important;
}

.singleRecordLabelTd {
    padding:5px 0 !important;
}

.singleRecordEntryIpt {
    height: 30px !important; 
    border-radius: 15px !important;
    border: solid 1px darkgray !important;
}

.singleRecordEntryTd {
    padding:5px 0 5px 10px !important;
}

.singleRecord {
    position: absolute;
    top: 115px;
    left: 20px;
    width: 45%;
    height: 45%
}

.singleTableDiv {
    min-height: 300px;
    width: 100%;
    height: 45%;
    overflow-y: scroll;
}