<!--
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="sidebar-form">
            <a href="#" class="left_set"><span class="sr-only">관리자설정바로가기</span></a>
        </div>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">사용자 메뉴<hr /></li>
            <li class="">
                <a href="/userDashboard"><i class="fa fa-dashboard"></i><span>대시보드</span></a>
            </li>
            <li class="">
                <a href="/ocrFormAnalysis"><i class="fa fa-dashboard"></i><span>OCR 양식분석</span></a>
            </li>
            <li class="">
                <a href="/adminLearning"><i class="fa fa-dashboard"></i><span>어드민 학습</span></a>
            </li>
            <li class="">
                <a href="/batchLearning"><i class="fa fa-dashboard"></i><span>배치 학습</span></a>
            </li>
            <li class="">
                <a href="/uiLearning"><i class="fa fa-dashboard"></i><span>UI 학습</span></a>
            <li class="">
                <a href="/ocrHistorySearch"><i class="fa fa-dashboard"></i><span>OCR 이력조회</span></a>
            </li>
            <li class="">
                <a href="/newDocLearning"><i class="fa fa-dashboard"></i><span>신규 문서 학습</span></a>
            </li>
            <li class="header"></li>
            <li class="header"></li>
            <li class="header"></li>
            <li class="header"></li>
            <li class="header"></li>
            <li class="header">관리자 메뉴<hr /></li>

            <li class="">
                <a href="/adminDashboard"><i class="fa fa-dashboard"></i><span>관리자 대시보드</span></a>
            </li>
            <li class="">
                <a href="/userManagement"><i class="fa fa-dashboard"></i><span>사용자 관리</span></a>
            </li>
        </ul>

    </section>
</aside>

<div class="control-sidebar-bg" style="max-height: 800px; top: 50px;"></div>

    <script>
        $(window).on('load', function () {
            //대시보드 active
            $('.sidebar-menu').find('i').each(function () {
                var menuName = $.trim($(this).next().text()).replace(/ /gi, "");
                var pageTitle = $.trim($('.content-header').text()).replace(/ /gi, "");
                if (menuName === pageTitle) {
                    $(this).parents('li').addClass('active');
                    return;
                }
            });
        });

    </script>
-->

<script type="text/javascript" src="js/leftsidebar.js"></script>

<h2 class="blind">LNB</h2>
<div id="lnb-wrap">
    <div class="lnb-box">
        <ul>
            <a href="/invoiceRegistration"><li class="menu01">계산서 등록</li></a>
            <a href="/uiLearning"><li class="menu02">개별 학습</li></a>
            <a href="/batchLearning"><li class="menu03">일괄 학습</li></a>
            <a href="/userManagement"><li class="menu04">사용자 관리</li></a>
            <a href="/documentCheck"><li class="menu05">문서 조회</li></a>
            <a href="/invoiceProcessingStatus"><li class="menu06">계산서 처리현황</li></a>
        </ul>
    </div>
</div>
<!--
<div class="lnb_menu">
    <div>
        <ul>
            <li><a href="/invoiceRegistration"><img />계산서 등록</a></li>
            <li><a href="/uiLearning"><img />개별 학습</a></li>
            <li><a href="/batchLearning"><img />일괄 학습</a></li>
            <li><a href="/userManagement"><img />사용자 관리</a></li>
            <li><a href="/documentCheck"><img />문서 조회</a></li>
            <li><a href="/invoiceProcessingStatus"><img />계산서 처리현황</a></li>
        </ul>
    </div>
</div>
-->
<!-- 로그인 사용자 정보 -->
<input type="hidden" id="userId" value="<%=currentUser.userId%>" />
<input type="hidden" id="scanApproval" value="<%=currentUser.scanApproval%>" />
<input type="hidden" id="icrApproval" value="<%=currentUser.icrApproval%>" />
<input type="hidden" id="middleApproval" value="<%=currentUser.middleApproval%>" />
<input type="hidden" id="lastApproval" value="<%=currentUser.lastApproval%>" />
<input type="hidden" id="adminApproval" value="<%=currentUser.admin%>" />

<script>
    $(window).on('load', function () {
        /*
        var pageTitle = $.trim($('title').attr('alt')).replace(/ /gi, "");
        $('.lnb_menu > ul > li').each(function (i, el) {
            var menuName = $.trim(el.childNodes[0].title).replace(/ /gi, "");
            if (menuName === pageTitle) {
                el.setAttribute('class', 'on');
                return;
            }
        });
        */
    });
</script>