.box_txt_st01.st00_us > dl:last-child {
    width: 600px !important;
    margin: 0 0 0 10px;
}
.um_list {
    border-radius: 5px;
    border: 1px solid #D8D8D8;
}

.btn_rt {
    position: relative;
    bottom: 18px;
    right: 22px
}

.btn_rt1 {
    position: absolute;
    top: 0;
    right: 0;
}

.btn_rt2 {
    float: left;
    min-width: 80px;
    width: 5%;
    padding-top: 10px;
}

.userTable1{
    /*position:absolute;*/
    position:relative;
    left:20px;
    top:130px;
    width: calc(100% - 40px);
}

.box_stsearch1 {
    position: absolute;
    top: 70px;
    left:20px;
    width: calc(100% - 40px);
}

.box_stsearch2 {
    /*position: absolute;
    bottom: 30px;*/
    position: relative;
    left:20px;
    top:145px;
    width: calc(100% - 60px);
    background: #fff;
    padding: 10px
}

.tableSize1 {
    max-height:550px;
    background:#fff;
    overflow:auto;
}

.um_list .um_select > dl {
    display: table;
    position: relative;
    width: 20%;
}
.um_list .um_select > dl.lastDl {

    width: 53% !important;
    margin: 0 0 0 15px;
}

.um_select {
    display: table;
    width: 100%;
}